<ng-container>
    <!-- toolbar -->
    <mat-toolbar color="warn" class="example-header">
        <button mat-icon-button (click)='sidenav.toggle()'>
            <mat-icon>menu</mat-icon>
        </button>
        <span>My Angular</span>
        <div class="uk-width-expand"></div>
        <small>Admin</small>
        <button mat-button (click)="logout()">Keluar</button>
    </mat-toolbar>
    <!-- end toolbar -->
    
    <mat-drawer-container class="admin-container">
        <mat-drawer
            #sidenav
            mode="side"
            [position]="'start'"
            opened
            class="sidenav-left"
        >
    
            <mat-nav-list>
                <mat-list-item routerLink="/admin/dashboard">
                    <mat-icon matListIcon>dashboard</mat-icon>
                    <h3 matLine>Dashboard</h3>
                </mat-list-item>
                
                <mat-list-item routerLink="/admin/product">
                    <mat-icon matListIcon>camera_enhance</mat-icon>
                    <h3 matLine>Products</h3>
                    </mat-list-item>
         
        
                <mat-list-item routerLink="/admin/images">
                    <mat-icon matListIcon>camera_enchance</mat-icon>
                    <h3 matLine>Edit Image</h3>
                </mat-list-item>
          </mat-nav-list>
        </mat-drawer>
    
      
       <mat-drawer-content>
            <router-outlet></router-outlet>
       </mat-drawer-content>
       <!-- end sidenav content -->
    </mat-drawer-container>
    </ng-container>
    
    
    
    

    