.admin-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}


mat-drawer-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ccc;
}

.sidenav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

