.upload-icon{
    padding-bottom: 100%;
    border-radius: 10px;
    border:white 1px dashed;
    margin-bottom: 15px;
    position: relative;
}
.upload-icon .button-container{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 40%;
} 